body {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  height: 100%;
}

#game-canvas {
  height: 100%;
  width: 2000px;
  background-image: url('https://i.ibb.co/SNmqL6h/sky.jpg');
  background-size: contain;
}

#wrapper {
  width: 700px;
  height: 300px;
  border: 5px solid #000;
  overflow-x: hidden;
  overflow-y: hidden;
}