html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AED112;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#game-canvas {
  height: 400px;
  width: 900px;
  box-shadow: 1px 1px 5px 5px;
}

#directions {
  text-align: center;
  margin-top: 10px;
}

#directions li {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 8px;
}

h1 {
  font-size: 2rem;
}


/* FOOTER */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #18ECFE;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-container ul {
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer-container ul li {
  padding: 0px 70px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #4D7E01;
}

a:hover {
  color: #fff;
}